/* Webfont: Tuku */@font-face {
    font-family: 'Tuku';
    src: url('https://static1.squarespace.com/static/5ec362cd27439658a289f8cd/t/5ec3838ba8793416a3125892/1589871499507/Tuku.otf'); /* IE9 Compat Modes */
    src: url('https://static1.squarespace.com/static/5ec362cd27439658a289f8cd/t/5ec3838ba8793416a3125892/1589871499507/Tuku.otf') format('embedded-opentype'), /* IE6-IE8 */
         url('https://static1.squarespace.com/static/5ec362cd27439658a289f8cd/t/5ec3838ba8793416a3125892/1589871499507/Tuku.otf') format('woff'), /* Modern Browsers */
         url('https://static1.squarespace.com/static/5ec362cd27439658a289f8cd/t/5ec3838ba8793416a3125892/1589871499507/Tuku.otf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    
}

